<h1>Editing viper</h1>

<% form_for(@viper) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bndid %><br />
    <%= f.text_field :bndid %>
  </p>
  <p>
    <%= f.label :cardtype %><br />
    <%= f.text_field :cardtype %>
  </p>
  <p>
    <%= f.label :cardno %><br />
    <%= f.text_field :cardno %>
  </p>
  <p>
    <%= f.label :cmpid %><br />
    <%= f.text_field :cmpid %>
  </p>
  <p>
    <%= f.label :ctrid %><br />
    <%= f.text_field :ctrid %>
  </p>
  <p>
    <%= f.label :shop %><br />
    <%= f.text_field :shop %>
  </p>
  <p>
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </p>
  <p>
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </p>
  <p>
    <%= f.label :ename %><br />
    <%= f.text_field :ename %>
  </p>
  <p>
    <%= f.label :ename %><br />
    <%= f.text_field :ename %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :bdate %><br />
    <%= f.datetime_select :bdate %>
  </p>
  <p>
    <%= f.label :idcard %><br />
    <%= f.text_field :idcard %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :marr %><br />
    <%= f.text_field :marr %>
  </p>
  <p>
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </p>
  <p>
    <%= f.label :occup %><br />
    <%= f.text_field :occup %>
  </p>
  <p>
    <%= f.label :income %><br />
    <%= f.text_field :income %>
  </p>
  <p>
    <%= f.label :address1 %><br />
    <%= f.text_area :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_area :address2 %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :hometel %><br />
    <%= f.text_field :hometel %>
  </p>
  <p>
    <%= f.label :offitel %><br />
    <%= f.text_field :offitel %>
  </p>
  <p>
    <%= f.label :bpno %><br />
    <%= f.text_field :bpno %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :adate %><br />
    <%= f.datetime_select :adate %>
  </p>
  <p>
    <%= f.label :tdate %><br />
    <%= f.datetime_select :tdate %>
  </p>
  <p>
    <%= f.label :ddate %><br />
    <%= f.datetime_select :ddate %>
  </p>
  <p>
    <%= f.label :udate %><br />
    <%= f.datetime_select :udate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @viper %> |
<%= link_to 'Back', vipers_path %>