<% title "我們尊敬的客戶們!"%>

<table>
  <tr>
    <th>Bndid</th>
    <th>Grade</th>
    <th>Cardno</th>
    <th>Cname</th>
  </tr>

<% @vipers.each do |viper| %>
  <tr>
    <td><%=h viper.bndid %></td>
    <td><%=h viper.grade %></td>
    <td><%=h viper.cardno %></td>
    <td><%=h viper.cname %></td>
    <td><%= link_to 'Show', viper %></td>
    <td><%= link_to 'Edit', edit_viper_path(viper) %></td>
    <td><%= link_to 'Destroy', viper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @orders ,
    :inner_window => 1,  
    :outer_window => 1,  
    :prev_label => 'Previous',  
    :next_label => 'Next'
  %>
<hr>
<%= link_to 'New viper', new_viper_path %>