<% title "我們尊敬的客戶們!"%>

<table>
  <tr>
    <th>品牌</th>
    <th>卡等級</th>
    <th><a href="?sort_by=cardno">卡號</th>
    <th>中文名</th>
    <th>動作任務區</th>
  </tr>

<% @vipers.each do |viper| %>
  <tr>
    <td><%=h viper.bndid %></td>
    <td><%=h viper.grade %></td>
    <td><%=h viper.cardno %></td>
    <td><%=h viper.cname %></td>
    <td><%= link_to 'Show', viper %> |
    <%= link_to 'Edit', edit_viper_path(viper) %> |
    <%= link_to 'Destroy', viper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @orders ,
    :inner_window => 1,  
    :outer_window => 1,  
    :prev_label => 'Previous',  
    :next_label => 'Next'
  %>
<hr>
<%= link_to 'New viper', new_viper_path %>



<% title "我的VIP客戶"  %>
<table class="columns" >
  <tr>
    <td>
      <h3>最新客戶</h3>
      <ul class="poker">
        <% @vipers = Viper.latest.each do |viper| %>
          <li><%= link_to viper.cname,viper %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <h3>消费排名</h3>
      <ul class="poker">
        <% @vipers = Viper.hot.each do |viper| %>
          <li><%= link_to viper.cname+ "(累计消费额：#{viper.tolamount})",viper %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <h3>高分客戶</h3>
      <ul class="poker">
        <% @vipers = Viper.reward.each do |viper| %>
          <li><%= link_to viper.cname+ "(積分：#{viper.point})" ,viper %></li>
        <% end %>
      </ul>
    </td>
    </tr>
 <div>
  <%#= tag_cloud @tags %>
</div>
<hr>
<%= link_to '新增VIP客户 ', new_viper_path %>
<%# keywords @tags.to_sentence  %>
<% #description "RailsKiller fireflyman， rails版的微型维基" %>