<% title "我們尊敬的客戶們!"%>

<table>
  <tr>
    <th>Bndid</th>
    <th>Cardtype</th>
    <th>Cardno</th>
    <th>Cname</th>
  </tr>

<% @vipers.each do |viper| %>
  <tr>
    <td><%=h viper.bndid %></td>
    <td><%=h viper.cardtype %></td>
    <td><%=h viper.cardno %></td>
    <td><%=h viper.cname %></td>
    <td><%= link_to 'Show', viper %></td>
    <td><%= link_to 'Edit', edit_viper_path(viper) %></td>
    <td><%= link_to 'Destroy', viper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New viper', new_viper_path %>