<%=  "#{@viper.cname}"%>
<ul class="mm">

<li><%=h @viper.bndid %></li>

<li><%=h @viper.grade %></li>

<li><%=h @viper.cardno %></li>

<li><%=h @viper.cmpid %></li>

<li><%=h @viper.ctrid %></li>

<li><%=h @viper.shop %></li>

<li><%=h @viper.cname %></li>

<li><%=h @viper.ename %></li>

<li><%=h @viper.gender %></li>

<li><%=h @viper.bdate %></li>

<li><%=h @viper.idcard %></li>

<li><%=h @viper.city %></li>

<li><%=h @viper.marr %></li>

<li><%=h @viper.degree %></li>

<li><%=h @viper.occup %></li>

<li><%=h @viper.income %></li>

<li><%=h @viper.address1 %></li>

<li><%=h @viper.address2 %></li>

<li><%=h @viper.address %></li>

<li><%=h @viper.hometel %></li>

<li><%=h @viper.offitel %></li>

<li><%=h @viper.bpno %></li>

<li><%=h @viper.email %></li>

<li><%=h @viper.adate %></li>

<li><%=h @viper.tdate %></li>

<li><%=h @viper.ddate %></li>

<li><%=h @viper.udate %></li>


<%= link_to 'Edit', edit_viper_path(@viper) %> |
<%= link_to 'Back', vipers_path %>
</ul>