<%=  "#{@viper.cname}"%>
<ul class="mm">

<li><%=h @viper.bndid %></li>

<li><%=h @viper.cardtype %></li>

<li>
  <b>Cardno:</b>
  <%=h @viper.cardno %>
</li>

<li>
  <b>Cmpid:</b>
  <%=h @viper.cmpid %>
</li>

<li>
  <b>Ctrid:</b>
  <%=h @viper.ctrid %>
</li>

<li>
  <b>Shop:</b>
  <%=h @viper.shop %>
</li>

<li>
  <b>Cname:</b>
  <%=h @viper.cname %>
</li>

<li>
  <b>Ename:</b>
  <%=h @viper.ename %>
</li>

<li>
  <b>Gender:</b>
  <%=h @viper.gender %>
</li>

<li>
  <b>Bdate:</b>
  <%=h @viper.bdate %>
</li>

<li>
  <b>Idcard:</b>
  <%=h @viper.idcard %>
</li>

<li>
  <b>City:</b>
  <%=h @viper.city %>
</li>

<li>
  <b>Marr:</b>
  <%=h @viper.marr %>
</li>

<li>
  <b>Degree:</b>
  <%=h @viper.degree %>
</li>

<li>
  <b>Occup:</b>
  <%=h @viper.occup %>
</li>

<li>
  <b>Income:</b>
  <%=h @viper.income %>
</li>

<li>
  <b>Address1:</b>
  <%=h @viper.address1 %>
</li>

<li>
  <b>Address2:</b>
  <%=h @viper.address2 %>
</li>

<li>
  <b>Address:</b>
  <%=h @viper.address %>
</li>

<li>
  <b>Hometel:</b>
  <%=h @viper.hometel %>
</li>

<li>
  <b>Offitel:</b>
  <%=h @viper.offitel %>
</li>

<li>
  <b>Bpno:</b>
  <%=h @viper.bpno %>
</li>

<li>
  <b>Email:</b>
  <%=h @viper.email %>
</li>

<li>
  <b>Grade:</b>
  <%=h @viper.grade %>
</li>

<li>
  <b>Adate:</b>
  <%=h @viper.adate %>
</li>

<li>
  <b>Tdate:</b>
  <%=h @viper.tdate %>
</li>

<li>
  <b>Ddate:</b>
  <%=h @viper.ddate %>
</li>

<li>
  <b>Udate:</b>
  <%=h @viper.udate %>
</li>


<%= link_to 'Edit', edit_viper_path(@viper) %> |
<%= link_to 'Back', vipers_path %>
</ul>